@page
@model IndexModel
@{
    ViewData["Title"] = "Zadania i czas";
}
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var company in Model.CompaniesSummary)
        {
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">@company.CompanyName</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a asp-page="/Zad"
                                   asp-route-companyid="@company.CompanyId"
                                   asp-route-typ="d">
                                    <strong>Dzisiaj:</strong> @company.Today
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-page="/Zad"
                                   asp-route-companyid="@company.CompanyId"
                                   asp-route-typ="w">
                                    <strong>Bieżący tydzień:</strong> @company.ThisWeek
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-page="/Zad"
                                   asp-route-companyid="@company.CompanyId"
                                   asp-route-typ="m">
                                    <strong>Bieżący miesiąc:</strong> @company.ThisMonth
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-page="/Zad"
                                   asp-route-companyid="@company.CompanyId"
                                   asp-route-typ="mp">
                                    <strong>Poprzedni miesiąc:</strong> @company.LastMonth
                                </a>
                            </li>
                        </ul>
                        <!-- Button trigger modal -->
                        <button type="button" onclick="dodaj(@company.CompanyId)" class="btn btn-primary w-100">
                            ➕ Dodaj zadanie
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Dodaj zadanie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">


                <div class="mb-3">
                    <label class="form-label">Temat</label>
                    <input type="text" class="form-control" id="title" name="Title" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Czas [min] (opcjonalnie)</label>
                    <input type="number" class="form-control" id="czas" name="czas" min="1" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-success" onclick="save()">Zapisz</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script type="text/javascript">
  
    var Commpanyid=0;
    function dodaj(id) {
       
          $("#addTaskModal").modal('show');
          Commpanyid = id;
   }
    function save()
    {
             var title = textValue('title');
                var czas = textValue('czas');
                 let num = parseInt(czas) || 0;
           
         
             var model = {
            companyid:Commpanyid ,
            name: title,
            ilosc: num
        }

        console.table(model);

          postjson("/api/baza/addtask", model, function (data) {
                 $("#addTaskModal").modal('hide');
          
           load();

         }, function (data) {


             

         })
    }
</script>