@page
@model IndexModel
@{
    ViewData["Title"] = "Zadania i czas";
}
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var company in Model.CompaniesSummary)
        {
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">@company.CompanyName</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Dzisiaj:</strong> @company.Today
                            </li>
                            <li class="list-group-item">
                                <strong>Bieżący tydzień:</strong> @company.ThisWeek
                            </li>
                            <li class="list-group-item">
                                <strong>Bieżący miesiąc:</strong> @company.ThisMonth
                            </li>
                            <li class="list-group-item">
                                <strong>Poprzedni miesiąc:</strong> @company.LastMonth
                            </li>
                        </ul>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary w-100"
                                data-bs-toggle="modal"
                                data-bs-target="#addTaskModal-@company.CompanyName.Replace(" ", "")">
                            ➕ Dodaj zadanie
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="jobContainer"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>

    function dodaj() {
       czekaj('dodawanie danych')
    var model = {
            id: 1,
            pol: 2,
            ang: 3
        }
        console.table(model);
    postjson("/api/baza/update", model, function (data) {

                gethtml('/api/GetHtml/update?id=5',
        function (html) {
            // Wstawienie partiala do diva
            $("#jobContainer").html(html);
            hideLoader();
        },
        function (err) {
            console.error("Błąd:", err);
        },
        function () {
            console.log("Żądanie zakończone");
        }
    );

         }, function (data) {



         })
    }   
    
</script>